<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de productos</span>
          <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>

          <table *ngIf="listProductos.length > 0" class="table table-striped mt-3">
            <thead>
              <tr >
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of listProductos">
                <th>{{producto.nombre}}</th>
                <td>{{producto.categoria}}</td>
                <td>{{producto.ubicacion}}</td>
                <td>{{producto.precio | currency:'USD'}}</td>
                <td>
                  <i [routerLink]="['/editar-producto',producto._id]"  class="fa fa-pencil text-primary" aria-hidden="true"></i>
                  <i (click)="eliminarProducto(producto._id)" class="fa fa-trash text-danger" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h5 *ngIf="listProductos.length == 0" style="text-align: start; margin-top: 10px;">
            No hay productos para mostrar</h5>
        </div>
      </div>
    </div>
  </div>
</div>
